@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clash Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

:root {
    --colour-primary: #34C1C5;
    --colour-secondary: #C3D7EF;
    --colour-accent: #306EB5;
}

body {
    font-family: "Poppins", sans-serif;
    color: rgb();
    background: #2D2D2D;
    scroll-behavior: smooth;
    overflow: auto;
}

@media (min-width: 1024px) {
    body {
        overflow: hidden;
    }
}

.accent-to-primary-text {
    background: -webkit-linear-gradient(180deg, var(--colour-primary), var(--colour-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
}

.accent-to-primary {
    background: -webkit-linear-gradient(180deg, var(--colour-primary), var(--colour-accent));
}

.clash-display {
    font-family: "Clash Display", sans-serif;
}

.outfit {
    font-family: "Outfit", sans-serif;
}

.circle {
    border-radius: 50%;
    position: absolute;
}

.circle img {
    border-radius: 50%;
    display: block;
    width: 70vw;
    height: 70vh;
    image-rendering: optimizeSpeed;
    /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Universal support since 2021   */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                           */
}

.circle:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(33, 33, 33, 1) 70%, rgba(33, 33, 33, 1) 100%);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.account-field:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--colour-primary);
}

.account-field::placeholder {
    color: #646464;
    opacity: 1;
}

.pagination {
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    right: 10px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pagination-dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 0 5px;
    transition-duration: 350ms;
}

.pagination-dot.active {
    background: rgba(255, 255, 255, 0.8);
}